/* Footer */
footer {
    background-color: #81d8d0;
    p{
        font-weight: 600;
        font-size: 1.1rem;
    }
    .container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logo   copy";
    }
    .logo img {
        width: 180px;
        padding: 10px;
    }
    .copy {
        display: flex;
        justify-content: right;
        align-items: center;
    }
}

